<div >
    <img src="../assets/images/lufthansa.jpg">
</div>
<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="login">
            <mat-form-field appearance="outline" class="login-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="!login.get('email').valid&&login.get('email').touched">Please enter valid email!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="password" formControlName="password" required>
                <mat-error *ngIf="login.get('password').invalid&&login.get('password').touched">enter the password</mat-error>
              </mat-form-field>
            </form>
    </mat-card-content>
    <mat-divider></mat-divider>
   <mat-card-actions>
       <button mat-raised-button (click)="logIn('admin')" [disabled]="login.invalid">Admin Login</button>
       <button mat-raised-button (click)="logIn('staff')">Login with google</button>
   </mat-card-actions>
</mat-card>